.bg {
  position: absolute;
  background: radial-gradient(at 50% 100%, #709fb5 0%, #374e59 40%, #233238 80%, #0b0f11 100%);
  width: 100vw;
  height: 100vh;
}

.loading-bar-container {
  transform: translateX(-50%);
}